@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Inter, sans-serif";
}


body {
    background: linear-gradient(#BC9DF2, #5539F4);
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}


.calculadora {
    background: linear-gradient(#4D36D0, #27168C);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    border-radius: 10px;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 0 0 10px #0F0F0B;
}

.calcul__gasolina button {
    background-color: black;
    width: 184px;
    height: 32px;
    color: white;
    border-radius: 10px;
    font-size: 1rem;


}


.calculadora h2 {
    color: white;
    margin-top: 2rem;
    font-size: 1.5rem;
}



.distancia>input {
    background-color: #D9D9D9;
    width: 450px;
    height: 34px;
    border-radius: 6px;
    border: none;
    outline: none;
    text-align: center;


}

.rendimento>input {
    background-color: #D9D9D9;
    width: 450px;
    height: 34px;
    border-radius: 6px;
    border: none;
    outline: none;
    text-align: center;

}

.preco>input {
    background-color: #D9D9D9;
    border: none;
    width: 450px;
    height: 34px;
    border-radius: 6px;
    outline: none;
    font: inherit;
    text-align: center;
}

.preco>input::placeholder {
    color: black;
}



.calcular {
    background-color: black;
    color: white;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    font-size: 16px;
    margin-top: 1rem;

}


.result {
    background-color: #D9D9D9;
    width: 300px;
    height: 90px;
    margin: 10px auto;
    border-radius: 6px;
    margin-top: 1rem;
}