* {
    margin: 0;
    padding: 0;
}


body {
    background: linear-gradient(#BC9DF2, #5539F4);
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}


.calculadora {
    background: linear-gradient(#4D36D0, #27168C);
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 700px;
    border-radius: 10px;
    flex-direction: column;
}

.calcul__gasolina button {
    background-color: black;
    width: 154px;
    height: 32px;
    color: white;
    border-radius: 15px;

}